---
layout: base
---

<article class="blog-post">
  <header class="blog-header">
    <h1>{{ title }}</h1>
    <time datetime="{{ date | date: '%Y-%m-%d' }}">{{ date | date: "%B %d, %Y" }}</time>
  </header>

  {{ content }}

  <div class="tags">
    {%- for tag in tags -%}
      {%- if tag != "blog" -%}
        <span class="tag">{{ tag }}</span>
      {%- endif -%}
    {%- endfor -%}
  </div>
</article>
